{% extends 'admin/base.html.twig' %}

{% block title %}
    {{ parent() }} - Videos
{% endblock %}

{% block container %}
    <h1>Edit Video</h1>

    {{ include('admin/video/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_video_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
