{% extends 'admin/base.html.twig' %}

{% block title %}
    {{ parent() }} - Messages
{% endblock %}

{% block container %}
    <h1>Edit Message</h1>

    {{ include('admin/message/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_message_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
