<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Administration{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('admin') }}
        {% endblock %}
    </head>
    <body>
        {{ include('admin/components/nav.html.twig') }}
        
        <div class="container mt-4">
            {% block container %}{% endblock %}
        </div>
        
        {% block javascripts %}
            {{ encore_entry_script_tags('admin') }}
        {% endblock %}
    </body>
</html>
