<!DOCTYPE html>

<title>Edit Picture</title>

{% block body %}
    <h1>Edit Picture</h1>

    {{ include('admin/picture/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_picture_index') }}">back to list</a>

    {{ include('admin/picture/_delete_form.html.twig') }}
{% endblock %}
