{% extends 'admin/base.html.twig' %}

{% block title %}
    {{ parent() }} - Photos
{% endblock %}

{% block container %}
        <h1>New Picture</h1>

        {{ include('admin/picture/_form.html.twig') }}

        <a href="{{ path('admin_picture_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
