{% extends app.request.XmlHttpRequest ? 'app/base_ajax.html.twig' : 'app/base.html.twig' %}

{% block data_container %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Envoyer') }}</button>
    {{ form_end(form) }}
{% endblock %}