{% extends 'admin/base.html.twig' %}

{% block title %}
    {{ parent() }} - Concerts
{% endblock %}

{% block container %}
    <h1>Edit Concert</h1>

    {{ include('admin/concert/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_concert_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
