{% extends 'admin/base.html.twig' %}

{% block title %}
    {{ parent() }} - Musiques
{% endblock %}

{% block container %}
    <h1>Create new Concert</h1>

    {{ include('admin/concert/_form.html.twig') }}

    <a href="{{ path('admin_concert_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
